.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

body {
	padding-bottom: 40px;
	background-color: #eee;
}

.alert {
	width: 500px;
	margin-left: 318px;
	padding: 5px;
	margin-bottom: -28px;
}

.h5, h5 {
	display: inline-block;
}

.h3, h3 {
	display: inline-block;
}

@media screen and (min-width: 900px) {
	.welcomeMessage {
		border: 1px solid transparent;
		border-radius: 4px;
		padding: 12px;
		margin-left: 420px;
	}
}

@media screen and (max-width: 400px) {
	.welcomeMessage {
		border: 1px solid transparent;
		border-radius: 4px;
		padding: 12px;
		margin-left: 60px;
	}
}

#search {
	width: 200px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('/RestFullApplication/ui/images/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#search:focus {
	width: 100%;
}

.alert {
	text-align: center;
}
